COMPOSE_PROJECT_NAME='fastapi-template'
DB_USERNAME=root
DB_PASSWORD=password
MONGO_INITDB_DATABASE=core
DATABASE_URL=mongodb://root:password@db:27017
NODE_ENV=development
DEBUG=1
SECRET_KEY=change-this-key
